<% include ../partials/header %>

    <div class="container container-header">
        <header class="jumbotron bg-dark text-light">
            <div class="container">
                <h1>Devine Chiropractic and Rehab</h1>
                <iframe id="promotional" src="https://www.youtube.com/embed/Ae0haUws4tI" frameborder="0" allow="autoplay; encrypted-media"
                allowfullscreen></iframe>

                <p>Seattle Chiropractor serving the Downtown, Belltown, Queen Anne, and South Lake Union areas.</p>
            </div>
        </header>
    
        <div class="container">
            <div class="row text-center">
                <div class="col-md">
                    <h1>Blog Posts</h1>
                </div>
            </div>
        </div>
        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% blogs.forEach(function(blog){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                       <img src="<%= blog.image %>">
                       <div class="caption">
                           <h4><%=blog.name%></h4>
                       </div>
                       <p>
                           <a href="/blogs/<%= blog._id %>" class="btn btn-primary">More Info</a>
                       </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <p>
                    <a class="btn btn-primary btn-lg" href="blogs/new">Add New Blog Post</a>
                </p>
            </div>
        </div>
    </div>
    
    
    
<% include ../partials/footer %>
